@use '../../styles/base' as *;
.skip{
    position: relative;
    display:block;
    height:0;
    width:100%;
    padding:0 24px;
    color:#FFF;
    font-size:24px;
    font-weight: bold;
    background:$blue;
    transition: all 100ms;
    &:focus {
      height: 80px;
      line-height: 80px;
      outline: none;
      text-decoration: underline;
    }

  }