@import "../../../styles/base.scss";
.card{
  margin:0;
  padding:2rem 0 0;
  color:black;
  border-top:1px solid $blue;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  &:hover{
    .image {
      img{
        @extend .image--style-normal;
      }
    }
  }
}
.alt{
  background: white;
}
.image,img{
  transition: all .1s;
}
.image{
  display:inline-block;
  margin:0;
  padding:0;
  background: black; 
  height:200px;
  overflow: hidden;
}
.image img{ 
  height:auto;
  width:100%;
  @extend .image--style-grayscale;
  border:1px solid #f4f4f4;
}
.caption{
  display:inline-block;
  margin:0;
}
.heading{
  @extend .type--subtitle2;
}
a{
  color:$blue;
  >*{color:black;}
}