@import '../styles/base.scss';
.root{
  position: relative;
  @extend .u-gutters;
  @extend .u-spacers--inside;
  background:black;
  z-index:1;
  @media screen and (max-width:400px){
    padding-left:1rem;
    padding-right:1rem;
  }
}