.root{
  padding:24px 0;
  ul{
    margin:0;
    padding:0;
    width:100%;
    display:grid;
    align-items: space-between;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: repeat(1, 1fr);
    @media (min-width:767px){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width:1025px){
      grid-template-columns: repeat(3, 1fr);
    }
  }
  li{
    list-style: none;
    margin:0;
    padding:0;
  }
}