@use '../../styles/base' as *;
.root{
    position:relative;
    @extend .u-gutters-lg;
    @extend .u-spacers--inside-lg;
    @extend .default;
}
.centered{
    padding-left:0;
    padding-right:0;
    text-align: center;
    .headline,.body{
        margin:0 auto;
    }
}
.default{
    color:white;
    background:black;
    a{
        color:#FFF;
        box-shadow:inset 0 -0.0625rem 0 #FFFFFF;
    }
}
.fun{
    background-image:linear-gradient(145deg, $blue, $purple);
}
.blank{
    background:none;
}
.headline,.body{
    @extend .u-width--max;
}
.headline{
    @extend .type--headline3;
    @extend .type--style-uppercase;
}
.body, .body p{
    @extend .type--headline6;
}
.margin{
    margin-bottom: 4rem;
}