@forward 'settings';
@forward 'utilities';
@forward 'typography';
@forward 'images';

@use 'settings' as *;

:root {}
html {
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding:0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img {
  display: block;
  width: 100%;
}
.u--position-abs{
  position: absolute;
}
pre{
  white-space: pre-wrap;
}
/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }
/**
 *
 */
 .table-wrapper{
  width:100%;
  overflow-x: scroll;
  overflow-y: hidden;
 }
 table{
  border-collapse: collapse;
  thead{
    tr{
      
      height:3rem;
    }
    th{
      text-align: left;
    }
  }
  tbody{
    tr{}
    td{
      padding:0.75rem 3rem 0.75rem 0;
      box-shadow:inset 0 -0.0625rem 0 #444444;
      a{
        text-decoration: none;
        padding-bottom:5px;
        box-shadow: inset 0 -0.0625rem 0 0 #FFFFFF;
        svg{
          color:white;
          @extend .icon;

        }
        &:hover, &:focus{
          box-shadow: inset 0 -0.125em 0 0 $blue;
          svg{
            color:$blue;
          }
        }
      }
    }
  }
 }