@import 'settings.scss';
@import 'utilities.scss';
@import 'typography.scss';
@import 'images.scss';
:root {}
html {
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding:0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img {
  display: block;
  width: 100%;
}

.u--position-abs{
  position: absolute;
}
pre{
  white-space: pre-wrap;
}
/**
 *
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .list-inline li {
    display: inline-block;
  }
/**
 *
 */
 .table-wrapper{
  width:100%;
  overflow-x: scroll;
  overflow-y: hidden;
 }
 table{
  border-collapse: collapse;
  thead{
    tr{
      
      height:3rem;
    }
    th{
      text-align: left;
    }
  }
  tbody{
    tr{}
    td{
      padding:0.5rem 3rem 0.5rem 0;
      box-shadow:inset 0 -0.0625rem 0 $blue;
      a{
        text-decoration: none;
        padding-bottom:5px;
        box-shadow:none !important;
        svg{
          color:white;
          @extend .icon;

        }
        &:hover{
          padding-bottom:5px;
          box-shadow: none;
        }
      }
    }
  }
 }