$font-weights: (
	light: 300,
	regular: 400, 
	bold: 700
);
$font-path: '/assets/fonts';

@mixin font-face($font-name, $prefix, $fallback) {
	
	@each $label, $weight in $font-weights{
		@font-face {
			font-family: '#{$font-name}';
			font-weight: $weight;
			src: url('#{$font-path}/#{$prefix}/#{$label}/#{$prefix}-#{$label}.eot?') format('eot'),
				 url('#{$font-path}/#{$prefix}/#{$label}/#{$prefix}-#{$label}.woff') format('woff'),
				 url('#{$font-path}/#{$prefix}/#{$label}/#{$prefix}-#{$label}.ttf') format('truetype');
    }
    .font--#{$prefix}{
      font-family: '#{$font-name}', #{$fallback};
    }
	}
}
@mixin font-weight(){
  @each $label, $weight in $font-weights{
    .font--weight-#{$weight}{
      font-weight:$weight;
    }
  }
}

@include font-face('GT Pressura','gt-pressura','Tahoma, Arial, Helvetica, sans-serif');
@include font-face('GT Pressura Mono','gt-pressura-mono','Courier, monospace');
@include font-weight();

@font-face {
  font-family: 'socicon';
  src: url("#{$font-path}/socicon/socicon-webfont.eot");
  src: url("#{$font-path}/socicon/socicon-webfont.eot?#iefix") format("embedded-opentype"), url("#{$font-path}/socicon/socicon-webfont.woff") format("woff"), url("#{$font-path}/socicon/socicon-webfont.ttf") format("truetype"), url("#{$font-path}/socicon/socicon-webfont.svg#scrawlregular") format("svg");
  font-weight: normal;
  font-style: normal; 
}