.image--style{
  &-grayscale{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    mix-blend-mode: screen;
  }
  &-normal{
    -webkit-filter: none;
    filter: none;
    mix-blend-mode: normal;
  }
}