.u-gutters{
  padding-left:2rem;
  padding-right:2rem;
  &-sm{
    padding-left:1rem;
    padding-right:1rem;
  }
  &-md{
    padding-left:4rem;
    padding-right:4rem;
  }
  &-lg{
    padding-left:6rem;
    padding-right:6rem;
  }
}
.u-spacers{
  &--inside{
    padding-top:2rem;
    padding-bottom:1.5rem;
    &-sm{
      padding-top:1rem;
      padding-bottom:2rem;
    }
    &-md{
      padding-top:4rem;
      padding-bottom:3.5rem;
    }
    &-lg{
      padding-top:6rem;
      padding-bottom:5.5rem;
    }
  }
    &--opt-inside-top{
      padding-top:0;
    }
    &--opt-inside-bottom{
      padding-bottom:0;
    }
  &--outside{
    margin-top:2rem;
    margin-bottom:1.5rem;
  }
    &--opt-outside-top{
      margin-top:0;
    }
    &--opt-insoutsideide-bottom{
      margin-bottom:0;
    }
}