@use '../../styles/base' as *;
.root{
  @extend .u-gutters;
  color:#000;
  background:#fff;
  padding-bottom:2rem;
}
.max-width{
  @extend .u-width--max;
}
.offset{
  @extend .u-gutters-lg;
  @extend .u-spacers--inside-sm;
}
.alt{
  background:black;
  color:#FFF;
}
.padding-top-large{
  padding-top:2rem;
}
.height-full{
  min-height: calc(100vh - 10rem);
}
.height-auto{}
.fun,.black{
  color:white;
  background:none;
}