@use "../../styles/base" as *;
.card{
  margin:0;
  padding:0;
  color:black;
  border:2px solid black;
  display:block;
  figure{
    margin:0;
    padding:0;
  }
  &:hover,&:focus{
    outline:none;
    cursor: pointer;
    border-color:$blue;
    .heading,.description{color:$blue;}
    .image {background: $blue;border-color: $blue;}
    .skills{color:$blue;}
    .cta{
      border-bottom:2px solid $blue;
    }
  }
}
.alt{
  background: white;
}
.image{
  position: relative;
  display:inline-block;
  margin:0;
  padding:0;
  background:black;
  padding-top:56.25%;
  width:100%;
  overflow: hidden;
  border-bottom: 2px solid black;
  transition:all 500ms;
}
.image img{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @extend .image--style-grayscale;
}
.image :global(.gatsby-image-wrapper){
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.image :global(.gatsby-image-wrapper) img{
  @extend .image--style-grayscale;
}
.caption{
  display:inline-block;
  margin:0;
  padding: 0 1rem 1rem;
  
}
.disguise{
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height:24px;
    content:"";
    box-shadow: inset 0px -20px 15px -5px #fff;
    z-index:1;
  }
}
.truncate{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.heading{
  @extend .truncate;
  @extend .type--subtitle1;
  -webkit-line-clamp: 2;
  height: 64px;
}
.description{
  @extend .disguise;
  @extend .type--body1;
  -webkit-line-clamp: 4;
  height:96px;
}
.skills{
  margin:0 0 12px;
  padding:0;
  @extend .type--body1;
  height:72px;
  color:#666;
}
.card .cta{
  color:black;
  >*{color:black;}
  svg{
    position: relative;
    top:-1px;
  }
}