@import '../../styles/base.scss';
.root{
  position:relative;
  background:none;
}
.list {
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size:1rem;
  line-height:1rem;
  height:1.3rem; //adjusted from 1.5 from box-shadow on link
}

.item {
  display: inline-flex;
  align-items: left;
  margin: 0 1rem 0 0;
}

.link{
  color: #000;
  box-shadow:none;
  text-decoration: none;
  @extend .font--gt-pressura-mono;
  @extend .font--weight-700;
  @extend .type--style-uppercase;
  &:hover{
    color: $blue;
    box-shadow: inset 0 -0.125em 0 0 $blue;
    svg{
      color:$blue;
    }
  }
  svg{
    @extend .icon;
  }
}
@media screen and (max-width:400px){
  .root{
    margin-top:0.5rem;
    margin-left:-1rem;
    padding-left:2px;
    width: calc( 100vw );
    &:before{
      position:absolute;
      top:0;
      bottom:0;
      left:-1px;
      width:1px;
      box-shadow: 0 0 10px 5px white;
      content:" ";
    }
    &:after{
      position:absolute;
      top:0;
      bottom:0;
      right:-1px;
      width:1px;
      box-shadow: 0 0 10px 5px white;
      content:" ";
    }
  }
  .frame{
    padding-left:1rem;
    width: calc( 100vw );
    overflow-x: scroll;
  }
  .list{
    width:1000px;
  }
}