@use '../styles/base' as *;
.hashtags{
  @extend .type--headline6;
  white-space: normal;

}
.hashtag{
  display: inline-block;
  padding-right:6px;
  white-space: normal;
}
.bio{
  @extend .type--headline6;
}