@use '../styles/base' as *;
.table{
    @extend .table-wrapper;
    @media screen and (max-width:400px){
        padding-left:2rem;
        padding-right:0;
        margin-left:-2rem;
        margin-right:-2rem;
        width:calc(100% + 4rem);
    }
}