@import '../../styles/base.scss';
.root{
  position: relative;
  @extend .u-gutters;
  @extend .u-spacers--inside;
  background:white;
  display:flex;
  flex-flow:row wrap;
  z-index:1;
  @media screen and (max-width:400px){
    padding-top:1.25rem;
    padding-left:1rem;
    padding-right:1rem;
  }
}
