.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 32%));
  grid-gap: 1%;
  @media screen and (max-width:400px){
    grid-template-columns: repeat(auto-fit, minmax(25%, 45vw));
    grid-gap: 1vw;
  }
}
.gridItem{
  margin:0;
  padding:0;
}
.white .card{
  background:white;
}