.animation {
  position: relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: block;
  align-items: center;
  justify-content: center;
  //overflow:hidden;
}
.st1 {
  fill: none;
  stroke: #eeeeee;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.svg {
  
}
.shape {
  position: absolute;
  top: 50%;
  overflow: visible;
  width: 280px;
  height: 280px;
  margin-top: -140px;
  stroke: transparent;
  stroke-width: 1px;
  fill: url(#shapesGradient);
}

@media (min-width: 740px) {
  .shape {
    stroke-width: .5px;
  }
}

.large {
  width: 128px;
  height: 128px;
  margin-top: -32px;
  stroke: currentColor;
  fill: currentColor;
  @extend .shape;
}

.small {
  width: 64px;
  height: 64px;
  margin-top: -32px;
  stroke: currentColor;
  fill: currentColor;
  @extend .shape;
}

.xsmall {
  width: 32px;
  height: 32px;
  margin-top: -16px;
  stroke: currentColor;
  fill: currentColor;
  @extend .shape;
}

.transform-anim {
  width: 100%;
  height: 22px;
}

.transform-anim:not(:last-child) {
  margin-bottom: 11px;
}

.transform-timeline {
  width: 100%;
  height: 2px;
  margin-top: 7px;
  background-color: rgba(255,255,255,.2);
}

.transform-progress {
  width: 100%;
  height: 2px;
  background-color: currentColor;
}