@use '../../styles/base' as *;
.root{
  width: 100%;
  @extend .typography;
}
.fun{
  color:#FFF;
  position: relative;
  background-image:linear-gradient(145deg, $blue, $purple);
  .hero a, main a{
    color:white;
    box-shadow: inset 0 -0.125em 0 0 white;
    text-decoration: none;
  }
}
.black{
  color:#FFF;
  position: relative;
  background-image:linear-gradient(145deg, #000, #333);
  .hero a, main a{
    color:white;
    box-shadow: inset 0 -0.125em 0 0 white;
    text-decoration: none;
  }
}